

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #000;
}
.table {
  --ag-header-background-color: #444;
  --ag-header-foreground-color: #fff;
  --ag-odd-row-background-color: #f1f2f1;
  --ag-even-row-background-color: red;
  --ag-row-hover-color: #91fbee;
  --ag-even-row-background-color: #f1f2f1 !important;
}

.grid .ag-header-cell {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
}
.grid .ag-cell {
  font-size: 14px;
  font-weight: bold;

}
